.inputFunction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 90vh; */
  border: 1px solid blue;
  height: 100%;
  /* column-gap: 20px; */
}

#root {
  height: 90vh;
}

.div1,
.div2,
.div3 {
  margin-bottom: 25px;
}

.inputEmail,
.inputPass {
  margin-left: 10px;
}

label {
  font-size: 20px;
}

input {
  padding: 10px;
  outline: none;
  font-size: 15px;
}

input:active {
  border: 1px solid dodgerblue;
}

.button {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(33, 112, 139);
  color: white;
}
